[uwsgi]
project = {{ waj_project_title }}
base = {{ waj_project_path }}

chdir = %(base)/%(project)
home = %(base)/%(project)/%(project)
virtualenv = %(base)/%(project)/venv
module = %(project).wsgi:application
plugins = python3

master = true
processes = 5

socket = {{ waj_uwsgi_socket }}
chown-socket = {{ waj_app_user }}:{{ waj_app_group }}
chmod-socket = 660
vacuum = true

enable-threads = true

# Django cache backend environment variables
env = DJANGO_CACHE_BACKEND={{ waj_django_cache_backend }}
env = DJANGO_CACHE_LOCATION={{ waj_django_cache_location }}
env = DISABLE_CACHE_FOR_DEBUG={{ waj_disable_cache_for_debug | lower }}

# Geo-location redirect
env = GEO_REDIRECT_ENABLED={{ waj_geo_redirect_enabled | default(False) | lower }}
