[uwsgi]
project = {{ jc_project_title }}
base = {{ jc_project_path }}

chdir = %(base)/%(project)
home = %(base)/%(project)/%(project)
virtualenv = %(base)/%(project)/venv
module = %(project).wsgi:application
plugins = python3

master = true
processes = 5

socket = {{ jc_uwsgi_socket }}
chown-socket = {{ jc_app_user }}:{{ jc_app_group }}
chmod-socket = 660
vacuum = true

enable-threads = true
