[uwsgi]
project = {{ waj_project_title }}
base = {{ waj_project_path }}

chdir = %(base)/%(project)
home = %(base)/%(project)/%(project)
virtualenv = %(base)/%(project)/venv
module = %(project).wsgi:application
plugins = python3

master = true
processes = 5

socket = {{ waj_uwsgi_socket }}
chown-socket = {{ waj_app_user }}:{{ waj_app_group }}
chmod-socket = 660
vacuum = true

enable-threads = true
