server {
  listen 80;
  listen [::]:80;
  server_name {{ jc_domain_names | join(" ") }};
  client_max_body_size {{ jc_nginx_max_fileupload_size }};

  set_real_ip_from 0.0.0.0/0;
  real_ip_header X-Real-IP;
  real_ip_recursive on;

  location / {
    uwsgi_pass unix://{{ jc_uwsgi_socket }};
    include uwsgi_params;
    {% if not jc_production %}
    # Deny all but the developers
    {% for ip in jc_developer_ips %}
    allow   {{ ip }};
    {% endfor %}
    deny    all;
    {% endif %}
  }

  location /static/ {
    alias {{ jc_project_path }}/{{ jc_project_title }}/static/;
    expires {{ jc_nginx_cache_static_files }};
  }
  location /media/ {
    alias {{ jc_project_path }}/{{ jc_project_title }}/media/;
    expires {{ jc_nginx_cache_static_files }};
  }
  location /static/admin/ {
    alias {{ jc_project_path }}/{{ jc_project_title }}/venv/lib/python3.7/site-packages/django/contrib/admin/static/admin/;
    expires {{ jc_nginx_cache_static_files }};
  }


}