from django.contrib.auth.models import User
from django.core.management import BaseCommand


class Command(BaseCommand):
    def handle(self, *args, **options):
        User.objects.create_superuser(username='{{ jc_superuser_username }}', password='{{ jc_superuser_password }}', email='{{ jc_superuser_email }}')

