from django.contrib.auth.models import User
from django.core.management import BaseCommand


class Command(BaseCommand):
    def handle(self, *args, **options):
        User.objects.create_superuser(username='{{ waj_superuser_username }}', password='{{ waj_superuser_password }}', email='{{ waj_superuser_email }}')

